@import 'https://fonts.googleapis.com/css?family=Lato';

* { 
	box-sizing: border-box; 
	&:first-child {
		margin-top: 0;
	}
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	// alternate bg color: #8a684d;
	padding: 1rem;
	background: #ad8e73 url('../img/cacti.png') no-repeat;
	background-size: cover;
	font-family: 'Lato', 'Franklin Gothic Book', 'Franklin Gothic', 'ITC Franklin Gothic', 'Arial', sans-serif;
}

a, a:visited {
	color:#E58E1A;
}

canvas {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	@media screen and (min-width: 40rem) {
		display: initial;
	}
}

fieldset {
	padding: 0;
	border: none;
	margin-bottom: 1rem;
	margin-left: 2rem;
	fieldset {
		margin-left: 0;
		label:first-child {
			margin-top: 0.5rem;
		}
	}
	@media screen and (min-width: 40rem){
		margin-left: 4rem;
	}
}

h2 {
	color: #00274C;
}

hr {
	color:#FFFFFF;
	border:1px solid #fff;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

label {
	position: relative;
	display: block;
	margin-top: 0.5rem;
	&:first-child {
		margin-top: 0;
	}
}

p {
	font-weight: bold;
}

section {
	background: #eee;
	padding: 1rem;
	max-width: 58rem;
	margin: 0 auto;
}

table {
	background: #fff;
	border-collapse: collapse;
	tr {
		&:nth-of-type(even){
			background: #eee;
		}
	}
	th, td {
		padding: 0.5rem;
	}
	th {
		background: #00274C;
		color: #fff;
	}
	input[type=text] {
		margin-left: initial;
	}
}

input[type=text], select {
	margin-left: 0.5rem;
	min-width: 4rem;
	text-align: right;
	font-size: 1rem;
	min-height: 2.75rem;
	@media screen and (min-width: 40rem){
		min-height: 0;
	}
}

input[type=submit] {
	background: #00274C;
	padding: 0.5rem 1.5rem;
	color: #fff;
	border: none;
	font-size: 1rem;
}

.wrapper {
	margin-bottom: 1rem;
}

#intro {
	position: relative;
	overflow: hidden;
	padding: 0;
	background: #fff;
	& > div {
		padding: 1rem;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	p {
		font-weight: normal;
	}
	.bars {
		max-width: none;
		min-width: 100%;
	}
	@media screen and (min-width: 40rem){
		img:first-of-type {
			float: right;
		}
	}
}

#hasOutData {
	border-top: 1px solid #fff;
}

#outsideInfo {
	#seeMapTD {
		display: none;
	}
	#seeMap {
		float: left;
		margin-right: 1rem;
	}
	#tipMeasure {
		line-height: 3.125rem;
		color: #E58E1A;
	}
	@media screen and (min-width: 40rem){
		#seeMapTD {
			display: inline;
		}		
	}
}

.results {
	h2 {
		text-align: center;
	}
	table {
		margin-left: auto;
		margin-right: auto;
	}
	#IResults {
		margin-bottom: 1rem;
	}
	@media screen and (min-width: 58rem) {
		&:before, &:after {
			content: '';
			display: table;
		}
		&:after {
			clear: both;
		}
		div {
			float: left;
		}
		#IResults {
			width: 30%;
			margin-right: 1rem;
		}
		#OResults {
			width: 60%;
		}
	}
}

#allResults {
	min-width: 100%;
	tr {
		border-top: 2px solid #ddd;
		border-bottom: 2px solid #ddd;
	}
	th {
		display: none;  
	}
	td {
		display: block;
		&:first-child {
			padding-top: .5rem;
		}
		&:last-child {
			padding-bottom: .5rem;
		}
		&:nth-child(odd) {
			background: #fff;
			@media screen and (min-width: 40rem) {
				background: none;
			}
		}
		&:nth-child(even) {
			background: #eee;
			@media screen and (min-width: 40rem) {
				background: none;
			}
		}
		&:before {
			content: attr(data-th); // who knew you could do this? The internet, that's who.
			font-weight: bold;
			display: inline-block;
			width: 70%;
			@media screen and (min-width: 40rem) {
				display: none;
			}
		}
	}
	th, td {
		text-align: left;
		font-size: 0.85rem;
		@media screen and (min-width: 40rem) {
			display: table-cell;
			padding: .25rem .5rem;
			font-size: 1rem;
			text-align: center;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}

	} 
}

#display {
	text-align: center;
}

#pieDisplay {
	text-align: center;
	ol {
		padding: 0;
		list-style: none;
	}
	li {
		display: inline-block;
		width: 24.75%;
		margin-bottom: 0.25rem;
		padding: 0.5rem;
		border: 1px solid #ddd;
		&:hover {
			background: #00274C;
			color: #fff;
		}
	}
	@media screen and (min-width: 40rem) {
		&:before, &:after {
			content: '';
			display: table;
		}
		&:after {
			clear: both;
		}
		div {
			width: 50%;
			float: left;
		}
		li {
			width: 16%;
		}
	}
}

#InfoDiv {
	background: #fff;
	form, h2 {
		text-align: center;
	}
	ul {
		list-style: none;
		padding: 0;
		@media screen and (min-width: 40rem) {
			width: 50%;
			margin: 0 auto;
		}
		li {
			padding-left: 3.5rem;
			min-height: 2rem;
			margin: 1rem 0;
			position: relative;
		}
		img {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

/*TOOLTIP STYLES*/

a.tooltips {
	position: relative;
	display: block;
	@media screen and (min-width: 40rem) {
		display: inline-block;
	}
	span {
		display: none;
		position: absolute;
		left: 0;
		bottom: 2rem;
		width: 100%;
		color: #FFFFFF;
		background: #000000;
		text-align: center;
		padding: 0.5rem;
		@media screen and (min-width: 40rem) {
			bottom: 2rem;
			right: 0;
			left: auto;
			width: 20rem;
		}
	}
	span:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 10%;
		width: 0; 
		height: 0;
		border-top: 0.5rem solid #000000;
		border-right: 0.5rem solid transparent;
		border-left: 0.5rem solid transparent;
		@media screen and (min-width: 40rem) {
			right: 10%;
			left: auto;
		}
	}
	&:hover span {
		display: block;
		opacity: 0.8;
		z-index: 100;
	}
	p {
		margin: 0;
	}
}

