html,body {
    height:100%;
    width:100%;
    margin:0;
}
body {
   background: #8a684d url(/images/gilbert_r1_final.jpg) no-repeat; 
	margin-left: 0;
	margin-top: 0;
    overflow:auto;
    font-family:Franklin Gothic Book,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;;
    text-align: center;
	color:#444;
	font-size:14px;
}
#main-header {
	background: url(/images/form-header3.png) no-repeat; 
	margin: 15px auto 0px auto;
	position: relative;	
	height: 117px;
	width: 960px;
}

#main-body {
	background: url(/images/table-back.png) repeat-y; 
	padding:  15px; 
	display: block; 
	margin: 0px auto;
	position: relative;	
	heigth: auto;
	width: 932px;	
	text-align:  left;	
}

#container {
	display: block; 
	margin: 0px 15px 10px 15px;
	heigth: auto;
	width: 98%;	
	text-align:  left;	
}
h1 {
    text-align: center;
}
h2 {
	font-family:Franklin Gothic Book,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
	color: #00274C;
	font-size:24px;
}
h3 {
	font-family:Franklin Gothic Book,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
	color: #3B6E8F;
	font-size:18px;
}
hr {
	color:#FFFFFF;
	border:1px solid #fff;
}
#auditH2 {
    text-align: center;
}
a {
	color:#E58E1A !important;
}
a:visited {
	color:#E58E1A !important;
}
label#tipShower, label#tipLaundry, label#tipDish, label#tipBath {
    font-family: Franklin Gothic Book,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    color: #FFF;
}
	
label#lblOcc, label#HomeDesc, label#descOut, label#tipMeasure {
    font-family: Franklin Gothic Book,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    color: #444;
    font-size: 16px;
    font-weight: bold;
}
label#lblAddress {
    font-size: 12px;
    font-weight: bold;
}
#wrapper {
    margin: 0 auto;
    text-align: left;
    background-color: #FFF;
}
#resWrapper {
    /*width: 1200px;*/
    margin: 0 auto;
    text-align: left;
    background-color: #FFF;
}
#imgDiv {
    height:180px;
    width:180px;
    float:left;
    background-color: white;
    padding: 5px;
}
#IntroDiv, #ResIntroDiv {
    font-family: Franklin Gothic Book,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #444;
    padding: 10px;;
    background-color: #FFF;
}
#InfoDiv {
    padding: 10px;
    /*background-color: #EEE;*/
    font-family: Franklin Gothic Book,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    /*font-size: 18px;*/
    font-style: normal;
    color: #00274C;
	text-align:center;
}
#HomeInfo, #YardInfo, #hasOutData, #displayMonths, #outsideInfo, #Results, #allResults, #Months, #bathDiv {
    padding: 10px;
    background-color: #EEE;
}
#display{
    padding: 10px;
    background-color: #EEE;
    /*width: 600px;*/
    height: 500px;
    /*float: left;*/
    vertical-align:top;
}
#pieDisplay {
    padding: 5px;
    background-color: #EEE;
    /*width: 560px;
    height: 500px;
    float: left;*/
    vertical-align:top;
}
#img2Div {
    height: 200px;
    width: 200px;
    float:left;
    background-color: white;
    padding:5px;
}
#IResults {
    vertical-align:top;
    /*height:600px;
    width:440px;*/
    float:left;
    background-color: #EEE;
    padding: 5px;
	margin-right:20px;
}
#OResults {
    vertical-align:top;
    /*height:600px;
    width:740px;
    float:left;*/
    background-color: #EEE;
    padding: 5px;
}
table,th,td {
    border: none;
    border-collapse:collapse;
}
th,td {
    padding:5px;
    text-align:left;
}
table#hhdResults tr:nth-child(even) {
    background-color: #ddd;
}
table#hhdResults tr:nth-child(odd) {
    background-color: #fff;
}
table#hhdResults th {
    background-color: black;
    color: white;
}
table#allResults tr:nth-child(even) {
    background-color: #fff;
    width: 500px;
}
table#allResults tr:nth-child(odd) {
    background-color: #ddd;
}
table#allResults th {
    background-color: black;
    color: white;
}

/*TOOLTIP STYLES*/

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:250px;
  color: #FFFFFF;
  background: #000000;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
   padding: 5px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 30%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
 
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

